$def with(todo)
$:render.header()
<script type="text/javascript" src="/static/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="/static/kindeditor/zh_CN.js"></script>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            resizeType : 1,
            allowPreviewEmoticons : false,
            allowImageUpload : false,
            items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });
    });
</script>
        <div class="box post">
            <h2>修改</h2>
            <form action="?" method="post">
                <p><input type="text" name="title" class="long_txt" value="$todo.title" /></p>
                <p><textarea name="content" style="width:680px;height:200px;visibility:hidden;">$todo.detail</textarea>
                </p>
                    <input type="submit" class="submit" value="提交" />
                </p>
            </form>
        </div>


$:render.foot()
