body {
    background: #EEE;
}

.box {
    margin-bottom: 20px;
}

.clear {
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.url {
    background: url(images/website.png) no-repeat right;
    padding-right: 20px;
}

.tips {
    color: #CCC;
}

.v_top {
    vertical-align: top;
}

.qq {
    background: url(images/qq.png) no-repeat right;
    padding-right: 20px;
}

.msn {
    background: url(images/msn.png) no-repeat right;
    padding-right: 20px;
}

.email {
    background: url(images/email.png) no-repeat right;
    padding-right: 20px;
}

.tips {
    color: #666;
}

.long_txt {
    width: 98%;
}

.must_be {
    color: red !important;
}

textarea {
    line-height: 1.5em;
}

image {
    border: none;
}

p {
    line-height: 1.5em;
}

a {
    color: #3366CC;
    text-decoration: underline;
}

a:hover {
    color: #FF3300;
}

.page {
    width: 700px;
    margin: 10px auto;
    background: #FFF;
    padding: 10px 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.header {
    padding-top: 10px;
    border-bottom: 1px solid #CCC;
}

.header h1 {
    font-size: 50px;
}

.header a {
    color: #333;
    text-decoration: none;
}

.main {
}

.main_content {
}

.box h2 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: 400;
    color: green;
    font-size: 28px;
}

.todos {
}

.todos ul li {
    list-style-type: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #CCC;
}

.todos ul li.finished {
    color: #666;
}

.todos ul li a {
    color: #666;
}

.todos ul li del {
    padding-left: 15px;
    background: url(images/ok.gif) no-repeat left center;
}

.post {
}

.post p {
    margin-bottom: 10px;
}

.post .submit {
    line-height: normal;
    -padding: 0;
}

.foot {
    border-top: 1px solid #CCC;
    color: #666;
    padding-top: 10px;
    font-size: 13px;
}

.foot img {
    vertical-align: top;
}

.buttonblue {
    color: #dee5f0;
    display: block;
    cursor: pointer;
    padding: 5px 11px;
    font-size: 1.2em;
    border: solid 1px #224983;
    border-radius: 5px;
    background: #1e4c99;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d));
    background: -moz-linear-gradient(top, #2f52b7, #0e3a7d);
    background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
    background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
    background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
    background: linear-gradient(top, #2f52b7, #0e3a7d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d');
}

.buttonblue:hover {
    background: #183d80;
    background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b));
    background: -moz-linear-gradient(top, #284f9d, #0c2b6b);
    background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
    background: -o-linear-gradient(top, #284f9d, #0c2b6b);
    background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
    background: linear-gradient(top, #284f9d, #0c2b6b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
}

.buttonblue:active {
    color: #8c9dc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7));
    background: -moz-linear-gradient(top, #0e387d, #2f55b7);
    background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
    background: -o-linear-gradient(top, #0e387d, #2f55b7);
    background: -ms-linear-gradient(top, #0e387d, #2f55b7);
    background: linear-gradient(top, #0e387d, #2f55b7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
}