<!DOCTYPE HTML>
<html>
<head>
    <title>Simple Login Form</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/structure.css">
</head>

<body>
<form class="box login">
    <fieldset class="boxBody">
        <label>用户名</label>
        <input type="text" tabindex="1" placeholder="用户名" required>
        <label><a href="#" class="rLink" tabindex="5">忘记密码?</a>密码</label>
        <input type="password" tabindex="2" required>
    </fieldset>
    <footer>
        <label>
            <input type="checkbox" tabindex="3">记住我！</label>

        <input type="submit" class="btnLogin" value="登录" tabindex="4">
        <input type="button" class="btnLogin" value="注册" tabindex="4">
    </footer>
</form>
<footer id="main">
    <a href="">todo llist </a> | <a href="">by chuguangming</a>
</footer>
</body>
</html>
