<!DOCTYPE HTML>
<html>
<head>
    <title>用户注册</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/structure.css">
    <script type="text/javascript" src="/static/script/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/script/RegUser.js"></script>
</head>

<body>

<form class="box reg" action='/todo/reguser' method="POST">
    <h1>用户注册</h1>
    <fieldset class="boxBody">
        <label>用户名</label>
        <input type="text" name="txtUserName" value='' tabindex="1"  required>
        <label>密码</label>
        <input type="password" name="txtUserPass" value='' tabindex="2" required>
        <label>再次密码</label>
        <input type="password" name="txtUserRePass" value='' tabindex="3" required>
        <label>用户邮箱</label>
        <input type="password" name="txtUserEmail" value='' tabindex="4" required>
    </fieldset>
    <footer>
        <input type="submit" class="btnLogin" value="注册" tabindex="5">
    </footer>
</form>
<footer id="main">
    <a href="">todo llist </a> | <a href="">by chuguangming</a>
</footer>
</body>
</html>
